:host ::ng-deep .am-list-content{
    display: none;
  }

//   :host ::ng-deep .am-list-extra{
//     width: 100px !important;
//   }


:host ::ng-deep .date-picker-list .am-list-item .am-list-line .am-list-extra {
    flex-basis: initial;
  }

  :host ::ng-deep .am-pull-to-refresh-indicator {
    font-size: 0 !important;
}