<nz-spin [nzSpinning]="spinning">
    <nz-card nzTitle="" [nzExtra]="dropdownExtraTemplate">
        <ejs-chart id="bar-chart" width="100%" (load)='load($event)'[zoomSettings]='zoomSettings' [palettes]='palette' [tooltip]='tooltip' id="chart-container" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [title]='title'>
            <e-series-collection>
                <e-series [dataSource]='chartData' [animation]='animation' type='Column' xName='fullName' yName='tongSoKhachHang' name='Tổng số khách hàng' [marker]='marker'></e-series>
            </e-series-collection>
        </ejs-chart>
    </nz-card>
    <ng-template #dropdownExtraTemplate>
        <!-- <nz-select nzSize="small" style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Chọn nhân viên cần lọc"
          nzServerSearch (nzOnSearch)="SearchNhanVien($event)" (ngModelChange)="changeNhanVien($event)"
          [(ngModel)]="selectedNhanVien" [nzDropdownStyle]="searchCustomerOverlayStyle">
          <nz-option nzCustomContent *ngFor="let option of listNhanVien" [nzLabel]="option.fullName"
              [nzValue]="option.userId">
              <nz-avatar nzIcon="user" [nzSrc]="option.avatar"></nz-avatar> {{option.userName}} - {{option.fullName}}
              - {{option.title}}
          </nz-option>
      </nz-select> -->
        <label for="selectedMonths">Chọn tháng: </label>
        <nz-select nzSize="small" nzShowSearch nzAllowClear nzPlaceHolder="Chọn tháng làm việc trong năm" style="margin-left: 10px;width: 100px;" [(ngModel)]="selectedMonths">
            <nz-option *ngFor="let item of months" [nzLabel]="item" [nzValue]="item">{{item}}</nz-option>
        </nz-select>
        <label id="f-label-year" style="margin-left: 3px;" for="selectedYears">Chọn năm: </label>
        <nz-select nzSize="small" nzShowSearch nzAllowClear nzPlaceHolder="Chọn năm" style="margin-left: 10px;width: 100px;" [(ngModel)]="selectedYears">
            <nz-option *ngFor="let item of years" [nzLabel]="item" [nzValue]="item">{{item}}</nz-option>
        </nz-select>
        <button nzSize="small" style="margin-left: 10px;" nz-button nzType="primary" type="button" (click)="getData()">Lấy dữ
          liệu</button>
    </ng-template>
</nz-spin>