<nz-button-group>
  <button style="margin-left: 5px;" nz-button nzType="primary" (click)="BackPages()"><i nz-icon nzType="left"></i>
      Quay lại</button>
</nz-button-group>

<form *ngIf="isAddNew" nz-form [formGroup]="userForm" autocomplete="off" (ngSubmit)="saveChanges()"
style="margin-left: 5px;margin-right: 5px;">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fullName" nzRequired>Họ tên</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Vui lòng nhập họ tên !">
      <input nz-input nzSize="small" type="text" formControlName="fullName" id="fullName">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="userName">Tài khoản</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input nzSize="small" formControlName="userName" id="userName" autocomplete="new-userName">
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Vui lòng nhập tài khoản !
        </ng-container>
        <ng-container *ngIf="control.hasError('checkUserName')">
          Tên tài khoản đã tồn tại !
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" [nzErrorTip]="errorMail">
      <input nz-input nzSize="small" formControlName="email" id="email">
      <ng-template #errorMail let-control>
        <ng-container *ngIf="control.hasError('email')">
          Email không hợp lệ !
        </ng-container>
        <ng-container *ngIf="control.hasError('checkMail')">
          Email đã tồn tại vui lòng chọn email khác!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Phone">Số Điện thoại</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" >
      <input nz-input nzSize="small" formControlName="phone" id="phone">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title">Chức danh</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" nzExtra="Chức danh , chức vụ hoặc vị trí trong công ty">
      <input nz-input nzSize="small" type="title" formControlName="title" id="title">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phongBanPhongId">Phòng</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" >
      <nz-select nzSize="small" nzShowSearch nzAllowClear formControlName="phongBanPhongId">
      <nz-option *ngFor="let option of phongs" [nzLabel]="option.phongName"
        [nzValue]="option.phongBanPhongId">
      </nz-option>
    </nz-select>
    </nz-form-control>
</nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzFor="roleId">Phân quyền sử dụng</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Vui lòng chọn quyền thành viên !"
      nzExtra="Phân quyền sử dụng hệ thống">
      <nz-select nzSize="small" nzShowSearch nzPlaceHolder="Chọn quyền cho thành viên" formControlName="roleId"
        id="roleId">
        <nz-option *ngFor="let item of roles" [nzValue]="item.roleId" [nzLabel]="item.roleName">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nguoiQuanLy">Người quản lý</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24">
      <nz-select nzSize="small" nzShowSearch nzAllowClear formControlName="nguoiQuanLy">
      <nz-option *ngFor="let option of userAll" [nzLabel]="option.fullName"
        [nzValue]="option.userId">
      </nz-option>
    </nz-select>
    </nz-form-control>
</nz-form-item>
</form>
<form *ngIf="!isAddNew" nz-form [formGroup]="userForm" autocomplete="off" (ngSubmit)="saveChanges()"
style="margin-left: 5px;margin-right: 5px;">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fullName" nzRequired>Họ tên</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Vui lòng nhập họ tên !">
      <input nz-input nzSize="small" type="text" formControlName="fullName" id="fullName">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="userName">Tài khoản</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input nzSize="small" formControlName="userName" id="userName" autocomplete="new-userName">
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Vui lòng nhập tài khoản !
        </ng-container>
        <ng-container *ngIf="control.hasError('checkUserName')">
          Tên tài khoản đã tồn tại !
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" [nzErrorTip]="errorMail">
      <input nz-input nzSize="small" formControlName="email" id="email">
      <ng-template #errorMail let-control>
        <ng-container *ngIf="control.hasError('email')">
          Email không hợp lệ !
        </ng-container>
        <ng-container *ngIf="control.hasError('checkMail')">
          Email đã tồn tại vui lòng chọn email khác!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Phone">Số Điện thoại</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" >
      <input nz-input nzSize="small" formControlName="phone" id="phone">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title">Chức danh</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" nzExtra="Chức danh , chức vụ hoặc vị trí trong công ty">
      <input nz-input nzSize="small" type="title" formControlName="title" id="title">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phongBanPhongId">Phòng</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" >
      <nz-select nzSize="small" nzShowSearch nzAllowClear formControlName="phongBanPhongId">
      <nz-option *ngFor="let option of phongs" [nzLabel]="option.phongName"
        [nzValue]="option.phongBanPhongId">
      </nz-option>
    </nz-select>
    </nz-form-control>
</nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dateOfBirth">Ngày sinh</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24">
      <input type="date" nzSize="small" nz-input formControlName="dateOfBirth" id="dateOfBirth">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address">Địa chỉ</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24">
      <textarea nz-input nzSize="small" formControlName="address" id="address"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzFor="roleId">Phân quyền sử dụng</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Vui lòng chọn quyền thành viên !"
      nzExtra="Phân quyền sử dụng hệ thống">
      <nz-select nzSize="small" nzShowSearch nzPlaceHolder="Chọn quyền cho thành viên" formControlName="roleId"
        id="roleId">
        <nz-option *ngFor="let item of roles" [nzValue]="item.roleId" [nzLabel]="item.roleName">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nguoiQuanLy">Người quản lý</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="24">
      <nz-select nzSize="small" nzShowSearch nzAllowClear formControlName="nguoiQuanLy">
      <nz-option *ngFor="let option of userAll" [nzLabel]="option.fullName"
        [nzValue]="option.userId">
      </nz-option>
    </nz-select>
    </nz-form-control>
</nz-form-item>
</form>

<div>
  <!-- <button nz-button nzType="default" (click)="closeModal()" [disabled]="spinning">
    <i nz-icon nzType="close" nzTheme="outline"></i>Hủy
  </button> -->


  <div style="margin: 10px 5px 10px 0px; text-align: right; padding-bottom:20px;">
    <button nz-button nzType="primary" (click)="saveChanges()" style=" margin-left: 2%;width:20%;max-width: 100px;">Lưu</button>
</div>

</div>