<div nz-row>
  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
    <nz-input-group nzSize="small" [nzSuffix]="suffixIconSearch">
      <input type="text" [(ngModel)]="valueModel" (ngModelChange)="changeSearch($event)" nz-input
        placeholder="Tìm kiếm" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <div style="text-align: right;" nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
    <button nz-button nzSize="small" nzType="primary" (click)="addNewItem()">
      <i nz-icon nzType="plus"></i>Thêm mới</button>
  </div>
</div>
<br />
<div>
  <nz-table #basicTable [nzData]="listEquipment" nzSize="small" [nzLoading]="loading" nzBordered="true">
    <thead>
      <tr>
        <th nzAlign="center" nzWidth="5%">STT</th>
        <th nzWidth="250px" nzColumnKey="name" nzCustomFilter>Tên trang thiết bị
          <nz-filter-trigger [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="..." [(ngModel)]="displayData.KeywordCol"
                  (change)="search('name')" />
              </div>
            </div>
          </nz-dropdown-menu>
        </th>
        <th nzWidth="250px" nzColumnKey="amount" nzCustomFilter>Số lượng
          <nz-filter-trigger [nzDropdownMenu]="menu1">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="..." [(ngModel)]="displayData.KeywordCol"
                  (change)="search('amount')" />
              </div>
            </div>
          </nz-dropdown-menu>
        </th>
        <th nzWidth="250px" nzColumnKey="description" nzCustomFilter>Mô tả
          <nz-filter-trigger [nzDropdownMenu]="menu3">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
          <nz-dropdown-menu #menu3="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="..." [(ngModel)]="displayData.KeywordCol"
                  (change)="search('description')" />
              </div>
            </div>
          </nz-dropdown-menu>
        </th>
        <th nzWidth="250px" nzColumnKey="userId" nzCustomFilter>Người tạo
          <nz-filter-trigger [nzDropdownMenu]="menu4">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
          <nz-dropdown-menu #menu4="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="..." [(ngModel)]="displayData.KeywordCol"
                  (change)="search('userId')" />
              </div>
            </div>
          </nz-dropdown-menu>
        </th>
        <th nzWidth="250px" nzColumnKey="createdDate" nzCustomFilter>Ngày tạo
          <nz-filter-trigger [nzDropdownMenu]="menu5">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
          <nz-dropdown-menu #menu5="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input type="text" nz-input placeholder="..." [(ngModel)]="displayData.KeywordCol"
                  (change)="search('createdDate')" />
              </div>
            </div>
          </nz-dropdown-menu>
        </th>
        <th nzAlign="center" nzWidth="10%">Thao tác</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td nzAlign="center">{{ i + 1 }}</td>
        <td nzAlign="center">{{ data.name }}</td>
        <td nzAlign="center">{{ data.amount }}</td>
        <td nzAlign="center">{{ data.description }}</td>
        <td nzAlign="center">{{ data.userId }}</td>
        <td nzAlign="center">{{ data.createdDate | date :'dd/mm/yyyy' }}</td>
        <td nzAlign="center">
          <nz-button-group nzSize="small">
            <button nz-button nzType="primary" (click)="editItem(data, i)" nz-tooltip nzTooltipTitle="Sửa">
              <i nz-icon nzType="edit"></i>
            </button> &nbsp;
            <button nz-button nzType="danger" (click)="removeItem(data.id)" nz-tooltip nzTooltipTitle="Xóa">
              <i nz-icon nzType="delete"></i>
            </button>
          </nz-button-group>
      </tr>
    </tbody>
  </nz-table>
</div>