<div class="layout">
  <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
    <div>
      <img src="../../../assets/logo-full.png" style="width: 180px;">
    </div>
    <h2 style="text-align: center; ">Đăng nhập</h2>
    <nz-form-item style="padding-top: 10px">
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userName" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
          <!-- <input type="password" nz-input formControlName="password" placeholder="Password" /> -->
          <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
            placeholder="Password" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <!-- <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label> -->
        <!-- <a class="login-form-forgot" class="login-form-forgot">Forgot password</a> -->
        <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isLoadingLogin"
          [disabled]="isLoadingLogin">Log in</button>
        <!-- Or
        <a>register now!</a> -->
      </nz-form-control>
    </nz-form-item>
  </form>
</div>